.user
	background-color $color-gray

	> .container
		display flex
		justify-content space-between
		align-items center

		+above(l)
			height 100px

		+below(m)
			flex-direction column
			align-items flex-start
			padding 20px

	&__label
		color $color-dark-teal
		text-transform uppercase
		font-size 10px
		font-weight 600

	&__text
		color $color-white-text
		font-size 23px
		font-weight 700
		text-transform uppercase

		+below(m)
			&:not(&--cpf)
				font-size 16px

		&--cpf
			font-size 10px
			margin-left 4px

		&--loanAmout:before
			content 'R$ '

		&--loanInstallments:after
			content ' vezes'

	&__group
		&--small
			display flex
			align-items center
			justify-content flex-start

	&__loan
		+above(l)
			display flex

		+below(m)
			margin-top 12px

		& ^[0]__group:not(:first-of-type)
			+above(l)
				margin-left 60px

			+below(m)
				margin-top 12px

