.links
	padding 40px 0

	> .container
		display flex
		justify-content space-between

		+below(m)
			flex-direction column

	&__item
		display block
		width 48%
		height 64px
		line-height 64px
		text-align center
		text-transform uppercase
		font-weight bold
		background-color $color-gray
		color #fff
		margin-bottom 20px
		transition all .3s ease-in-out

		+below(m)
			width 100%

		&:hover
			background-color $color-dark-teal