.showcase
	padding 20px 0

	> .container
		border-bottom 1px solid rgba(50, 49, 50, .1)
		padding-bottom 40px

		> div
			margin 0
			align-items flex-start

	&__title
		font-weight bold
		font-size 21px
		margin-bottom 12px