.header
	position fixed
	top 0
	left 0
	right 0
	z-index 10

	&__content
		background-color $color-light-black
		height 100px
		width 100%
		overflow-x hidden
		position relative
		z-index 5

		+below(m)
			height 64px

		> .container
			height 100%
			max-width 1800px
			display flex
			align-items center
			justify-content space-between

	&__links
		display flex
		align-items center
		justify-content flex-end

		+below(m)
			position fixed
			z-index 10
			width 280px
			right -280px
			top 64px
			bottom 0
			padding 20px 0
			background-color #000
			flex-direction column
			justify-content flex-start
			align-items flex-start
			transition all .3s ease-in-out

	&__link
		text-transform uppercase
		font-size 13px
		margin-left 35px
		color $color-white-text
		position relative
		transition all .3s ease-in-out

		&:not(:last-of-type):after
			content '\00b0'
			position absolute
			right -22px
			top 0
			bottom 0
			margin auto
			height 14px
			width 8px
			color $color-dark-teal
			font-size 18px

			+below(m)
				content ''

		+above(l)
			&:hover
				color #ffffff

		+below(m)
			font-size 18px
			margin-bottom 12px

	&__logo
		max-width 151px

		img
			width 100%
		
		+below(m)
			max-width 90px

	&__menu
		position relative
		z-index 10
		background-image url('~assets/menu.svg')
		background-size contain
		width 36px
		height 36px
		background-position center
		font-size 0
		background-color transparent
		border 0

		+above(l)
			display none

	&__mask
		position fixed
		top 0
		bottom 0
		right -100vw
		width 100vw
		z-index 4
		background-color rgba(0, 0, 0, .65)
		opacity 0
		transition opacity .2s ease-in-out, right 0s .2s

		+above(l)
			display none

	&.is--open
		& ^[0]__links
			transform translateX(-100%)
			transition all .3s ease-in-out .2s

		& ^[0]__mask
			right 0
			opacity 1
			transition opacity .2s ease-in-out .3s, right 0s