.button
	color $color-white-text
	height 48px
	line-height 48px
	border 0
	min-width 280px
	text-align center
	text-transform uppercase
	font-size 21px
	font-weight 700
	background-color #eae8dd
	color rgba(50, 49, 50, 0.1)

	&:not(:disabled)
		background-color $color-green
		color #fff

		&:after
			background-image url('~assets/arrow.svg')

	+below(m)
		margin-top 20px

	&:after
		content ''
		display inline-block
		width 18px
		height 16px
		margin-right -9px
		background-image url('~assets/arrow-disabled.svg')
		background-repeat no-repeat
		background-position right center
		background-size contain
