.form
	padding 80px 0

	+below(m)
		padding 60px 0

	&__form
		display flex
		align-items center
		justify-content center
		flex-direction column

	&__title
		color $color-gray
		text-transform uppercase
		font-weight 800
		font-size 34px
		line-height 37px
		text-align center
		margin-bottom 63px

		+below(m)
			margin-bottom 40px

	&__group
		width 100%
		display flex
		align-items center
		justify-content space-between

		+below(m)
			flex-direction column

		.input
			position relative

			+above(l)
				&:not(:last-of-type):after
					content ''
					position absolute
					right -4%
					top 25px
					bottom 0
					margin auto
					height 3px
					width 5px
					background-color $color-gray
					