body, html, h1, h2, h3, h4, h5, p, ul, li
	padding 0
	margin 0

ul, li
	list-style none

body, html
	font-family $default-font
	-webkit-font-smoothing antialiased
	background-color $color-white-text

	*
		font-family $default-font

html:not(.fonts-loaded) *
	font-family sans-serif


body
	padding-top 100px

	+below(m)
		padding-top 64px

a
	text-decoration none
	color inherit

object
	display none

*
	box-sizing border-box