$background-color = rgba(50, 49, 50, 0.1)
$text-color = #B1B0A8

.tabs
	background-color $background-color

	&__list
		display flex
		align-items center
		justify-content space-between
		padding 11px 0

	&__text
		color $text-color
		font-weight 800
		text-transform uppercase
		font-size 13px
		line-height 28px

		+below(m)
			display none

	&__number
		border-radius 50%
		width 28px
		height 28px
		background-color transparent
		border 3px solid $text-color
		display inline-block
		text-align center
		line-height 22px
		color $text-color
		font-size 13px
		font-weight 800

		+above(l)
			margin-right 9px

		+below(m)
			height 36px
			width 36px
			line-height 30px

	&__item
		cursor default

		&:not(&--active)
			cursor pointer
			transition all .3s ease-in-out

			&:hover
				opacity 0.75

		&--filled
			& ^[0]__number
				color $color-white-text
				background-color $text-color

		&--active
			& ^[0]__number
				color $color-dark-teal 
				background-color $color-gray
				border-color $color-gray

			& ^[0]__text
				color $color-gray