.input
	width 32%
	margin-bottom 40px

	+below(m)
		width 100%
		margin-bottom 20px

	&--radio
		width 60%
		display flex
		align-items center
		justify-content space-between
		margin 0 auto 40px

		& ^[0]__label
			margin-bottom 0

	&__label
		display block
		color $color-gray
		text-transform uppercase
		font-weight 700
		font-size 13px
		margin-bottom 9px
		transition all .3s ease-in-out

	&__regular
		width 100%
		height 42px
		line-height 42px
		vertical-align middle
		padding 0 32px
		background-color transparent
		border 3px solid $color-gray
		font-size 21px
		font-weight 700
		outline 0
		transition all .3s ease-in-out

		+below(m)
			padding 0 18px

	&__radio
		height 42px
		width 41.5%
		color $color-gray
		border 3px solid $color-gray
		position relative
		text-align center
		line-height 36px
		cursor pointer
		transition all .3s ease-in-out

		&--active
			border-color $color-dark-teal
			background-color $color-dark-teal
			color $color-white-text

		input[type="radio"]
			height 0
			width 0
			opacity 0
			margin 0

		&:first-of-type:after
			+above(l)
				content ''
				display block
				height 3px
				width 5px
				background-color $color-gray
				position absolute
				right -8%
				top 0
				bottom 0
				margin auto

	&__radio-label
		text-transform uppercase
		font-weight 700
		font-size 21px
		cursor pointer

		+below(m)
			font-size 14px

	&__select
		height 42px
		width 100%
		border-radius 0
		-webkit-appearance none
		text-align center
		text-align-last center
		font-size 21px
		text-transform uppercase
		font-weight 700
		background-color transparent
		border 3px solid $color-gray
		outline 0
		transition all .3s ease-in-out
		cursor pointer

		&:disabled
			opacity 0.3

	&--focused
		& ^[0]__label
			color $color-dark-teal

		& ^[0]__regular, & ^[0]__select
			border-color $color-dark-teal
			color $color-dark-teal

	&--invalid
		& ^[0]__label
			color $color-red

		& ^[0]__regular, & ^[0]__select
			border-color $color-red
			color $color-red